body {
    background-color: #E62B86;
    font-family:'Raleway', 'Open Sans', sans-serif;
}
p {
    margin: 10px 0;
}
h1, h2, h3, h4, h5 {
    margin: 10px 0 15px 0;
}
header, nav {
    text-align: center;
    min-width: 767px;
}
li {
    display: inline;
}
#initial-content, #a, #b, #c, #d, #e,#view-sex-type,#view-quarterly-type,#sex-split{
 position: absolute; 
}
#view-sex-type,#view-quarterly-type{
    display: none;
}
#initial-content,#view-quarterly-type {
    left: 650px;
    width: 400px;
}
#view-sex-type {
    left: 650px;
    width: 272px;
}
/*#sex-split {
    top: 550px;
    left: -600px;
    text-align: center;   
}*/
#value-scale {
    opacity: 0.5;
    font-size: 0.75em;
}
#a, #b, #c, #d, #e { left: 40px; }
#a { top: 635px;}
#b { top: 585px;}
#c { top: 535px;}
#d { top: 485px;}
#e { top: 435px;}
#f { top: 648px; left: 575px; }
